* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "header";
@import "https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Rubik:wght@500&family=Ubuntu&display=swap";

$font-family: Arial, sans-serif;

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.main_banner {
  padding: 200px 0 0;
  background-size: cover;
  background-image: url("../images/background-1.jpg");
  background-repeat: no-repeat;

  .container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;

    .main_text {
      max-width: 570px;

      H1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 70px;
        margin-bottom: 31px;

        span {
          &:first-of-type {
            color: #3E3E3E;
          }

          &:last-of-type {
            color: #40A3F8;
          }
        }
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(117, 117, 117, 0.46);
        margin-bottom: 50px;
      }

      .searcher {
        padding: 13px 13px 14px;
        background-color: #FFFFFF;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;

        input {
          border-radius: 8px;
          background-color: rgba(245, 246, 250, 0.52);
          max-width: 216px;
          padding: 18px;
          border: none;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.3);
        }

        .city_list {
          border-radius: 8px;
          background-color: rgba(245, 246, 250, 0.52);
          padding: 18px 20px 18px 27px;
          margin-bottom: inherit;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: black;

          &::before {
            content: '';
            background-image: url("../images/Location.svg");
            height: 17px;
            width: 15px;
            display: inline-block;
            margin-right: 9px;
          }

          &::after {
            content: '\f078';
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 15px;
            color: black;
            margin-left: 7px;
          }
        }

        a {
          background-color: #40A3F8;
          padding: 12px 19px 10px 18px;
          border-radius: 8px;
          display: inline-block;
        }
      }
    }
  }
}

.main_photo {
  display: flex;

  .girl {
    position: relative;
    bottom: 0;
    right: 0;
    max-width: 690px;
    z-index: 2;

    image {
      display: block;
      width: 100%;
    }
  }

  .blue_circules {
    position: absolute;
    top: 190px;
    right: 100px;
    max-width: 690px;
    z-index: 1;

    image {
      display: block;
      width: 100%;
    }
  }
}

.main_icon1 {
  z-index: 3;
  position: absolute;
  bottom: 360px;
  right: 580px;
  animation: jump 1.2s infinite;
  @keyframes jump {
    0% {
      transform: scale(0.90, 0.90);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.90, 0.90);
    }
  }

  image {
    display: block;
  }
}

.main_icon2 {
  z-index: 4;
  position: absolute;
  bottom: 370px;
  right: 100px;
  animation: jump 1.2s infinite;
  @keyframes jump {
    0% {
      transform: scale(0.90, 0.90);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.90, 0.90);
    }
  }

  image {
    display: block;
  }
}

.main_icon3 {
  z-index: 5;
  position: absolute;
  bottom: 150px;
  right: 630px;
  animation: jump 1.2s infinite;
  @keyframes jump {
    0% {
      transform: scale(0.90, 0.90);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.90, 0.90);
    }
  }

  image {
    display: block;
  }
}

.main_icon4 {
  z-index: 6;
  position: absolute;
  bottom: -50px;
  right: 480px;

  image {
    display: block;
  }
}

.main_icon5 {
  padding: 6px 26px 10px 26px;
  background-color: rgba(253, 254, 254, 0.9);
  border-radius: 8px;
  z-index: 7;
  position: absolute;
  text-align: center;
  bottom: 70px;
  right: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: rgba(61, 61, 63, 0.9);

  &::before {
    content: '';
    background-image: url("../images/heart-3260437-2725130 1.png");
    display: block;
    width: 46px;
    height: 44px;
    margin: auto;
  }

  &::after {
    content: "Happy Patients";
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(61, 61, 63, 0.56);
    display: block;
    text-align: center;
  }
}

.solutions_banner {
  padding: 75px 0 75px;
  background-color: #FFFFFF;
  background-size: cover;
  text-align: center;

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: #3E3E3E;
    margin-bottom: 50px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: auto;

    .steps {
      max-width: 320px;
      text-align: center;

      h3 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #3D3D3F;
        margin-bottom: 21px;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.about_banner {
  padding: 75px 0 143px;
  background-color: #FFFFFF;
  background-size: cover;

  .container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;

    .doctor_photo {
      max-width: 550px;
      position: relative;

      .portrait {
        display: block;
        width: 100%;
      }

      .bubble1 {
        position: absolute;
        display: block;
        width: 230px;
        top: 140px;
        right: -25px;
      }

      .Khalid_review {
        padding: 20px 26px 10px 36px;
        background-color: #FEFEFE;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 8px;
        position: absolute;
        display: block;
        width: 270px;
        top: 275px;
        left: -40px;
        .love{
          position: absolute;
          display: block;
          left: 90px;
          bottom: 140px;
          animation: jump 1.2s infinite;
          @keyframes jump {
            0% {
              transform: scale(0.90, 0.90);
            }
            50% {
              transform: scale(1, 1);
            }
            100% {
              transform: scale(0.90, 0.90);
            }
          }
        }
      }

      .khalid {
        h4 {
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          color: #3D3D3F;
        }

        p {
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: rgba(61, 61, 63, 0.4);
          margin-bottom: 9px;
        }

        &::before {
          content: url("../images/khalid.png");
          display: block;
          width: 10px;
          height: 10px;
          position: relative;
          top: -7px;
          left: -50px;
        }
        &::after{
          content: url("../images/Star.png");
          display: block;
          width: 10px;
          height: 10px;
          position: relative;
          top: -27px;
          left: 170px;
        }
      }
    }

    .khalid_list {
      display: flex;
      margin: auto;
      max-width: 230px;
      justify-content: space-between;
    }

    h5 {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #A0A2B3;
    }
    p{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #3D3D3F;
    }
    .hospital_name{
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 32px;
      color: #A0A2B3;
      margin-bottom: 11px;
    }
  }

  .about_text {
    max-width: 510px;
    text-align: left;

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.02em;
      color: #3D3D3F;
      margin-bottom: 36px;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.7);
      margin-bottom: 17px;
    }

    ul {
      list-style: none;

      li {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #3D3D3F;
        display: flex;
        margin-bottom: 24px;

        &::before {
          content: '';
          background-image: url("../images/check-circle-filled.svg");
          width: 20px;
          height: 20px;
          display: block;
          margin-right: 17px;
          top: 5px;
          position: relative;
        }
      }
    }

    .explore {
      padding: 12px 18px 12px 18px;
      background-color: #40A3F8;
      border-radius: 5px;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #FFFFFF;

      &::after {
        content: "";
        background-image: url("../images/arrow.svg");
        display: inline-block;
        position: relative;
        width: 15px;
        height: 11px;
        background-repeat: no-repeat;
        left: 5px;
      }
    }
  }
}